body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 70px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.profile {
  font-size: 18px;
  cursor: pointer;
  margin-right: 20px;
}

.profile:hover {
  text-decoration: underline;
}
